@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

.searchBar {
    width: 50%;
    margin-top: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-image: url('../assets/loupe.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 45px;
    font-family: 'Nunito';
    color: rgb(27, 27, 27);
    font-size: 2em;
    padding: 15px;
    background-position-x: 10px;
    padding-left: 80px;
    border: 3px solid black;
    outline: none;
    border-radius: 15px;
    margin: 15px;
}

.searchWrapper {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .searchBar {
        font-size: 1.3em;
        height: 40px;
    }
  }